@using BookLibrary.Models

@model List<Book>

<div class="text-center">
    <h1 class="display-4">Welcome to Your Book Collection Library!</h1>
    <h7>Total Books: @ViewBag.MyBooks </h7>
</div>
<p>
    <a asp-controller="Books" asp-action="Add" class="btn btn-outline-primary">Add Book</a>
    <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Genres
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Action and Adventure"  style="color:black" class="btn btn-outline-dark">Action and Adventure</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Classics"  style="color:black" class="btn btn-outline-dark">Classics</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Comic Book"  style="color:black" class="btn btn-outline-dark">Comic Book</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Fantasy"  style="color:black" class="btn btn-outline-dark">Fantasy</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Graphic Novel"  style="color:black" class="btn btn-outline-dark">Graphic Novel</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Historical Fiction"  style="color:black" class="btn btn-outline-dark">Historical Fiction</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Horror"  style="color:black" class="btn btn-outline-dark">Horror</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Literary Fiction"  style="color:black" class="btn btn-outline-dark">Literary Fiction</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Mystery"  style="color:black" class="btn btn-outline-dark">Mystery</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Non-Fiction"  style="color:black" class="btn btn-outline-dark">Non-Fiction</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Realist Literature"  style="color:black" class="btn btn-outline-dark">Realist Literature</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Romance"  style="color:black" class="btn btn-outline-dark">Romance</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Science Fiction"  style="color:black" class="btn btn-outline-dark">Science Fiction</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Speculative Fiction"  style="color:black" class="btn btn-outline-dark">Speculative Fiction</a>
                                    <a class="dropdown-item" asp-controller="Books" asp-action="ShowGenre" asp-route-genre="Western"  style="color:black" class="btn btn-outline-dark">Western</a>
                                </div>
    </div>
</p>


@if (Model.Count == 0)
{
    <p>No Books in your collection yet!</p>
}

else
{
    <table class="table">
        <tr>
            @*<th>
                Id
            </th>*@
            <th>
               Book Title
            </th>
            <th>
                Author's First Name
            </th>
            <th> 
                Author's Last Name
            </th>
            <th>
                Genre
            </th>
            <th>
                Number of Pages
            </th>
        </tr>

        @foreach (var book in Model)
        {
    <tr>
        @*<td>@book.Id</td>*@
        @*<td>@book.BookTitle</td>*@
        <td><b><a asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id" style="color:black">@book.BookTitle</a></b></td>
        <td>@book.AuthorFirstName</td>
        <td>@book.AuthorLastName</td>
        <td>@book.Genre</td>
        <td>@book.NumberOfPages</td>
        <td><a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-secondary">Edit Book</a></td>
        <td>
            @Html.ActionLink(
                    "Delete Book",
                    "Delete",
                    new
                         {
                        bookId = @book.Id
                         },
                    htmlAttributes: new { @class = "btn btn-outline-danger", @role = "button" }
                    )

        </td>
    </tr>
        }
    </table>
}