@using BookLibrary.Models

@model List<Book>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Library</li>
    </ol>
</nav>
<div class="d-flex">
    <div class="text-center col-9">
    <h1 class="display-4">My Books </h1>
    <h7>Total Books: @ViewBag.MyBooks </h7>
</div>

    <div class="col-3">
<div class="dropdown">
    <button class="btn btn-outline-primary btn-lg dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item disabled" asp-controller="Books" asp-action="Index" style="color:grey" class="btn btn-outline-dark">All(@ViewBag.MyBooks)</a>
        <a class="dropdown-item" asp-controller="Books" asp-action="ShowFavorites" style="color:black" class="btn btn-outline-dark">Favorites</a>
        <a class="dropdown-item" asp-controller="Books" asp-action="ShowWantToRead" style="color:black" class="btn btn-outline-dark">Want to Read(@ViewBag.MyW2RBooks)</a>
        <a class="dropdown-item" asp-controller="Books" asp-action="ShowReading" style="color:black" class="btn btn-outline-dark">Reading(@ViewBag.MyReadingBooks)</a>
        <a class="dropdown-item" asp-controller="Books" asp-action="ShowRead" style="color:black" class="btn btn-outline-dark">Read(@ViewBag.MyReadBooks)</a>
    </div>
        </div>
</div>
</div>
<br />
<div class="d-flex">
    <div class="col-10">
@if (Model.Count == 0)
{
    <p>No Books in your collection yet!</p>
}

else
{



    <div class="row">
        @foreach (var book in Model)
        {
                    <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="@book.Image" alt="Book Cover">
                <div class="card-body">

                    <h5 class="card-title text-center">@book.BookTitle</h5>

                                <h7 class="card-text text-center">@book.AuthorFirstName @book.AuthorLastName</h7>
                                <p class="card-text">
                                    <div>
                                        <button class="btn btn-outline-info btn-lg btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#searchinfo-@book.Id" aria-expanded="false" aria-controls="searchinfo-@book.Id">
                                            Info
                                        </button>
                                        <div class="collapse" id="searchinfo-@book.Id">
                                            <p class="card-text">
                                                <b>Genre:</b> @book.Genre<br />
                                                <b>Pages:</b> @book.NumberOfPages<br />
                                                <b>Published Date:</b> @book.PublishedDate<br />
                                                <b>Publisher:</b> @book.Publisher<br />
                                               <br/> <em>@book.SearchInfo</em>
                                            </p>
                                        </div>
                                    </div>
                                </p>

                    <div class="dropdown">
                        @if (ViewBag.bookTitlesW2R.Contains(book.BookTitle))
                        {
                            <button class="btn btn-outline-success btn-lg btn-block dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Want to Read
                            </button>
                        }
                        else if (ViewBag.bookTitlesR.Contains(book.BookTitle))
                        {
                            <button class="btn btn-success btn-lg btn-block dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Read
                            </button>
                        }
                        else if (ViewBag.bookTitlesReading.Contains(book.BookTitle))
                        {
                            <button class="btn btn-outline-success btn-lg btn-block dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reading
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-lg btn-block dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add to...
                            </button>
                        }
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Books" asp-action="Favorite" asp-route-bookId="@book.APIBookID" style="color:black" class="btn btn-outline-dark">Favorites</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="WantToRead" asp-route-bookId="@book.APIBookID" style="color:black" class="btn btn-outline-dark">Want to Read(@ViewBag.MyW2RBooks)</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="Reading" asp-route-bookId="@book.APIBookID" style="color:black" class="btn btn-outline-dark">Reading(@ViewBag.MyReadingBooks)</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="Read" asp-route-bookId="@book.APIBookID" style="color:black" class="btn btn-outline-dark">Read(@ViewBag.MyReadBooks)</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="dropdown">
                            <button class="btn btn-outline-primary btn-lg btn-block dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More...
                            </button>
                             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Post" asp-action="ShowPost" asp-route-id="@book.Id" style="color:black" class="btn btn-outline-dark">Reviews</a>
                            <a class="dropdown-item" asp-controller="Post" asp-action="NewPost" asp-route-id="@book.Id" style="color:black" class="btn btn-outline-dark">Add Review</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" style="color:black" class="btn btn-outline-dark">Edit Book</a>
                            <a class="dropdown-item" asp-controller="Books" asp-action="Delete" asp-route-bookId="@book.Id" style="color:black" class="btn btn-outline-danger">Delete</a>
                        </div>
                        </div>
                      
                    </div>
                    </div>
                </div>
                    </div>
               
        }
            </div>
   




}
    </div>
</div>

