@model List<Book>

@{
    ViewData["Title"] = "Books";
}

@if (Model.Count == 0)
{
    <div class="mx-auto px-3 py-3 pt-md-5 pb-md-4 text-center">
        <div>
            <h4 style="text-align: center"> Looks like @ViewBag.User doesn't have any books, yet. &#9785;</h4>
        </div>
    </div>
}
else
{
    <div class="mx-auto px-3 py-3 pt-md-5 pb-md-4 text-center">
        <h2>@ViewBag.User's Books</h2>
    </div>
    <table class="table">
      

       @foreach (var book in Model)
        {
           <div class="card mb-3" style="max-width: 540px; background-color:tan">
  <div class="row g-0">
    <div class="col-md-4">
        
      @*<img src="@book.Image">*@
      <a href="https://www.google.com/search?q=.@book.BookTitle.@book.AuthorLastName"> <img src="@book.Image"/></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b><a asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id" asp-route-url="/List" style="color:black">@book.BookTitle</a></b></h5>
        <p class="card-text">Author: @book.AuthorFirstName @book.AuthorLastName <br>
        Genre: @book.Genre <br>
        Number of Pages: @book.NumberOfPages <br>
                                
        </p>
             
        <div class="card-footer">
     
        <a asp-controller="Post" asp-action="ShowPost" asp-route-id="@book.Id" class="btn btn-primary text-dark"><b> Reviews</b></a>
        
        <a asp-controller="Post" asp-action="NewPost" asp-route-id="@book.Id" class="btn btn-primary text-dark"><b> Add Review</b></a>
        
         @if (ViewBag.bookTitles.Contains(book.BookTitle))
                {
                    <button type="button" class="btn btn-secondary text-dark" disabled>Already Added</button>
                }
                else
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        
                            @Html.ActionLink(
                                    "Add Book",
                                    "AddOtherBooks",
                                    "Books",
                                    new { bookId = @book.Id , url = "/Books"},

                                    htmlAttributes: new { @class = "btn btn-success text-dark", @role = "button"})
                                                        
                    }
                }
    </div>
      </div>
    </div>
  </div>
</div>
        }
    </table>

}