@using BookLibrary.Models

@model SearchedBooks
@*@{
    ViewData["Title"] = "Books";
}*@
<form method="post" action="/List/BookDetails">
<table class="table">
        
        @*<div class="card mb-3" style="max-width: 540px; background-color:lightsteelblue">
            
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="https://www.google.com/search?q=.@ViewBag.bookToAdd.BookTitle.@ViewBag.bookToAdd.AuthorLastName"> <img src="@ViewBag.bookToAdd.Image" class="card-img-top img-fluid"/></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><b><a asp-controller="Books" asp-action="Detail" asp-route-APIBookID="@ViewBag.bookToAdd.APIBookID" asp-route-url="/List" style="color:black">@ViewBag.bookToAdd.BookTitle</a></b></h5>
                        <p class="card-text">
                        By: @ViewBag.bookToAdd.AuthorLastName
                            <br>
                            Genre: @ViewBag.bookToAdd.Genre <br>
                            Number of Pages: @ViewBag.bookToAdd.NumberOfPages <br>
                            <br />
                            @ViewBag.bookToAdd.SearchInfo
                            
                        </p>


                        <div class="card-footer">

                            <input type="hidden" value="@ViewBag.bookToAdd.APIBookID" name="bookId">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Book" />

               
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <h5 class="card-title"></h5>
                    <img src="@ViewBag.bookToAdd.Image" class="img-fluid rounded-start" alt="...">
                    <h5 class="card-title"></h5>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@ViewBag.bookToAdd.BookTitle<br/>
                            @ViewBag.bookToAdd.AuthorLastName<br />
                            @ViewBag.bookToAdd.Genre<br />
                            <br />
                        @ViewBag.bookToAdd.SearchInfo
                        </p>
                        <div class="card-footer">
                            <input type="hidden" value="@ViewBag.bookToAdd.APIBookID" name="bookId">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Book" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="button" class="btn-info" onclick="history.go(-2)" value="Back to Search" />
    
</table>
</form>