@using BookLibrary.Models

@model SearchedBooks
@*@{
    ViewData["Title"] = "Books";
}*@
<form method="post" action="/List/BookDetails">
<table class="table">

        <div class="card mb-3" style="max-width: 540px; background-color:tan">
            <div class="row g-0">
                <div class="col-md-4">

                    @*<img src="@book.Image">*@
                <a href="https://www.google.com/search?q=.@ViewBag.bookToAdd.BookTitle.@ViewBag.bookToAdd.AuthorLastName"> <img src="@ViewBag.bookToAdd.Image" /></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><b><a asp-controller="Books" asp-action="Detail" asp-route-APIBookID="@ViewBag.bookToAdd.APIBookID" asp-route-url="/List" style="color:black">@ViewBag.bookToAdd.BookTitle</a></b></h5>
                        <p class="card-text">
                        By: @ViewBag.bookToAdd.AuthorLastName
                            @*<br>
                        Genre: @book.Genre <br>
                        Number of Pages: @book.NumberOfPages <br>*@

                        </p>
                        <p class="card-text">
                        APIBookId: @ViewBag.bookToAdd.APIBookID
                        </p>

                        <div class="card-footer">

                            @*<form action="/list/AddBooksApi" method="post">
                        <p>
                        <label for=@book></label>

                        <input type="submit" class="btn btn-outline-dark" value="Add" />
                        </p>
                        </form>*@
                            @* <a asp-controller="Books" asp-action="Add" asp-route-id="@book.Id" class="btn btn-primary text-dark"><b> Add</b></a>*@
                            @Html.ActionLink(
                        "Add Booksss",
                        "AddBook",

                        new { bookId = @ViewBag.bookToAdd.APIBookID},

                        htmlAttributes: new { @class = "btn btn-success text-dark", @role = "button"})

                        <a asp-controller="List" asp-action="AddBook" asp-route-id="@ViewBag.bookToAdd.APIBookID" class="btn btn-primary text-dark"><b> newBook</b></a>
                            <input type="hidden" value="@ViewBag.bookToAdd.APIBookID" name="bookId">
                        <input type="submit" class="btn btn-outline-secondary" value="Add Book" />

               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</table>
</form>