@using BookLibrary.Models

@model List<Book>
<div class="text-center">
<h1>Central's Collection</h1>
<h7>Total Books: @ViewBag.allBooks </h7>
</div>
<div class="container body-content">



    <form action="/list/index" method="post">


        <p>
            <label for="searchTerm"></label>
            <input type="text" class="btn-outline" placeholder ="search" name="searchTerm" id="searchTerm" />
            <input type="submit" class="btn btn-outline-dark" value="Search" />
        </p>


    </form>

    <div class="dropdown">
                                <button class="btn btn-outline-info dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Genres
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Action and Adventure"  style="color:black" class="btn btn-outline-dark">Action and Adventure</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Classics"  style="color:black" class="btn btn-outline-dark">Classics</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Comic Book"  style="color:black" class="btn btn-outline-dark">Comic Book</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Fantasy"  style="color:black" class="btn btn-outline-dark">Fantasy</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Graphic Novel"  style="color:black" class="btn btn-outline-dark">Graphic Novel</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Historical Fiction"  style="color:black" class="btn btn-outline-dark">Historical Fiction</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Horror"  style="color:black" class="btn btn-outline-dark">Horror</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Literary Fiction"  style="color:black" class="btn btn-outline-dark">Literary Fiction</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Mystery"  style="color:black" class="btn btn-outline-dark">Mystery</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Non-Fiction"  style="color:black" class="btn btn-outline-dark">Non-Fiction</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Realist Literature"  style="color:black" class="btn btn-outline-dark">Realist Literature</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Romance"  style="color:black" class="btn btn-outline-dark">Romance</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Science Fiction"  style="color:black" class="btn btn-outline-dark">Science Fiction</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Speculative Fiction"  style="color:black" class="btn btn-outline-dark">Speculative Fiction</a>
                                    <a class="dropdown-item" asp-controller="List" asp-action="ShowGenre" asp-route-genre="Western"  style="color:black" class="btn btn-outline-dark">Western</a>
                                </div>
                            </div>

</div>

@if (Model.Count == 0)
{
    <p>No Books in the Online Collection yet!</p>
}

else
{
    <table class="table">
        <tr>
            
            <tr>
                @*<td><a asp-controller="List" asp-action="ShowGenre" asp-route-genre="Western"  style="color:black">Western</a></td>
                 <td><a asp-controller="List" asp-action="ShowGenre" asp-route-genre="Romance"  style="color:black">Romance</a></td>
                 <td><a asp-controller="List" asp-action="ShowGenre" asp-route-genre="Action and Adventure"  style="color:black">Action and Adventure</a></td>*@
            </tr>
            
               
            
            @*<th>
                    Id
                </th>*@
            <th>
                Book Title
            </th>
            <th>
                Author's First Name
            </th>
            <th>
                Author's Last Name
            </th>
            <th>
                Genre
            </th>
            <th>
                Number of Pages
            </th>

        </tr>

        @foreach (var book in Model)
        {
            <tr>
                @*<td>@book.Id</td>*@
                @*<td>@book.BookTitle</td>*@
                <td><b><a asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id" asp-route-url="/List" style="color:black">@book.BookTitle</a></b></td>
                <td>@book.AuthorFirstName</td>
                <td>@book.AuthorLastName</td>
                <td><a asp-controller="List" asp-action="ShowGenre" asp-route-genre="@book.Genre"  style="color:black">@book.Genre</a></td>
                <td>@book.NumberOfPages</td>
                <td><a asp-controller="Post" asp-action="ShowPost" asp-route-id="@book.Id" class="btn btn-outline-secondary">Reviews</a></td>
                <td><a asp-controller="Post" asp-action="NewPost" asp-route-id="@book.Id" class="btn btn-outline-secondary">Add Review</a></td>
                @if (ViewBag.bookTitles.Contains(book.BookTitle))
                {
                    <td><button type="button" class="btn btn-secondary" disabled>Already Added</button></td>
                }
                else
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            @Html.ActionLink(
                                    "Add Book",
                                    "AddOtherBooks",
                                    "Books",
                                    new { bookId = @book.Id , url = "/List"},

                                    htmlAttributes: new { @class = "btn btn-outline-primary", @role = "button"})
                                    
                        </td>
                    }
                }
                
            </tr>


        }
    </table>
}
