@using BookLibrary.Models

@model List<SearchedBooks>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="/List">Search</a></li>
        <li class="breadcrumb-item active" aria-current="page">Results</li>
    </ol>
</nav>

<div class="text-center">
    <div class="container body-content">

        <form action="/list/GetBooks" method="post">
            <p>
                <label for="searchTerm"></label>
                <input type="text" class="btn-outline" placeholder="Title, Author or ISBN" name="searchTerm" id="searchTerm" />
                <input type="submit" class="btn btn-outline-success" value="Search" />
            </p>
        </form>



    </div>
</div>

@if (Model.Count == 0)
{
    <p>No Books in the Online Collection yet!</p>
}

else
{

   @* <form action="/list/Add" method="post">



        <table class="table">
            
                <div class="card-columns">

            @foreach (var book in Model)
            {
                <div class="container">
                    <div class="text-md-center">
                        <a asp-controller="List" asp-action="Add" asp-route-bookId="@book.APIBookID"> <img src="@book.Image" class="img-responsive" width="250" height="330" /></a>
                        <br />
                        <br />
                    </div>
                </div>*@


    <div class="container">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="@book.Image" alt="Book Cover">
                        <div class="card-body">
                            <h5 class="card-title text-center">@book.BookTitle</h5>
                            <h6 class="card-text text-center">@book.AuthorFirstName @book.AuthorLastName</h6>
                            <div class="mt-3">
                                <button class="btn btn-outline-info btn-lg btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#searchinfo-@book.Id" aria-expanded="false" aria-controls="searchinfo-@book.Id">
                                    Info
                                </button>
                                <div class="collapse" id="searchinfo-@book.Id">
                                    <p class="card-text">
                                        <b>Genre:</b> @book.Genre<br>
                                        <b>Pages:</b> @book.NumberOfPages<br>
                                        <b>Published Date:</b> @book.PublishedDate<br>
                                        <b>Publisher:</b> @book.Publisher<br>
                                        <em>@book.SearchInfo</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-block" asp-controller="List" asp-action="Add" asp-route-bookId="@book.APIBookID">Add to List</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>





@*                    <div class="card-group">
                    <div class="card giant">
                        <img src="@book.Image" alt="Book Cover" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@book.BookTitle</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@book.AuthorFirstName @book.AuthorLastName</h6>
                            <p class="card-text">@book.SearchInfo</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Publisher: @book.Publisher</li>
                                <li class="list-group-item">Published Date: @book.PublishedDate</li>
                                <li class="list-group-item">Pages: @book.NumberOfPages</li>

                            </ul>
                        </div>
                        <div class="card-footer">
                        <a asp-controller="List" asp-action="Add" asp-route-bookId="@book.APIBookID" class="btn btn-primary btn-lg btn-block">Add Book </a>
                        </div>
                    </div>
                    </div>
                    <style>
                        .giant {
                            width: 70%;
                            margin: 20px auto;
                        }
                    </style>*@
            }
            </div>
                 
  @*      </table>
    </form>*@
}